<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* common section */
  .common__title {
    font-size: 30px;
    font-weight: bold;
    color: #001F51;
    text-align: center;
  }
  /* end common section */
  .container {
    max-width: 900px;
    margin: auto;
  }
  .key_details_one, .key_details_two, .key_details_three, .key_details_four{
    margin-top: 50px;
  }
  .key_details_title{
    font-size: 40px;
    font-weight: 600;
  }
  .key_details_para{
    font-size: 19px;
    font-weight: 500;
  }

  .key_details_img_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 50px;
  }
  .key_details_img_area img{
    width: 100%;
    height: 435px;
  }
  @media (max-width: 1024px) {
    .key_details_img_area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 50px;
  }
  } 
  @media (max-width: 768px) {
    .container {
      max-width: 500px !important;
      padding: 0px 20px;
    }
    .metrics-area{
    grid-template-columns: repeat(1, 1fr) !important;
  }
}


</style>
{% style %}

{% endstyle %}
<section class="container">
  <div class="key_details_area">
    <div class="key_details_one">
      <h1 class="key_details_title">{{ section.settings.key_details_title_1 }}</h1>
      <p class="key_details_para">{{ section.settings.key_details_para_1 }}</p>
    </div>
     <div class="key_details_img_area">
          {% for block in section.blocks %}
            {% if block.type == "key_details_blk" %}
              <div class="metrics-item">
                {{ block.settings.key_details_image |  image_url: width: 800 |  image_tag }}
              </div>
            {% endif %}
          {% endfor %}
      </div> 
    <div class="key_details_two">
      <h1 class="key_details_title">{{ section.settings.key_details_title_2 }}</h1>
      <p class="key_details_para">{{ section.settings.key_details_para_2 }}</p>
    </div>
    <div class="key_details_three">
      <h1 class="key_details_title">{{ section.settings.key_details_title_3 }}</h1>
      <p class="key_details_para">{{ section.settings.key_details_para_3 }}</p>
    </div>
    <div class="key_details_four">
      <h1 class="key_details_title">{{ section.settings.key_details_title_4 }}</h1>
      <p class="key_details_para">{{ section.settings.key_details_para_4 }}</p>
    </div>
  </div>

</section>


{% schema %}

  {
    "name": "key_details",
    "settings": [
      {
        "type": "text",
        "id": "key_details_title_1",
        "label": "metrics text",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "key_details_para_1",
        "label": "Paragraph"
      },
      {
        "type": "text",
        "id": "key_details_title_2",
        "label": "metrics text",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "key_details_para_2",
        "label": "Paragraph"
      }, {
        "type": "text",
        "id": "key_details_title_3",
        "label": "metrics text",
        "default": "Title"
      }, {
        "type": "richtext",
        "id": "key_details_para_3",
        "label": "Paragraph"
      }, {
        "type": "text",
        "id": "key_details_title_4",
        "label": "metrics text",
        "default": "Title"
      }, {
        "type": "richtext",
        "id": "key_details_para_4",
        "label": "Paragraph"
      }

    ],
    "blocks": [
      {
        "type": "key_details_blk",
        "name": "Key Details BLK",
        "settings": [
          {
            "type": "image_picker",
            "id": "key_details_image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "key_details",
        "blocks": [
            {
                "type": "key_details_blk"
            }
        ]
      }
    ]
  }

{% endschema %}