<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* common section */
  .common__title {
    font-size: 30px;
    font-weight: bold;
    color: #001F51;
    text-align: center;
  }
  /* end common section */
  .container {
    max-width: 900px;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
  }
  .header__logo img {
    width: 140px;
    height: 42px;
  }
  .header__btn {
    padding: 10px 20px;
    background-color: #ED1479;
    outline: none;
    text-decoration: none;
    color: white;
  }
  .brand__slogan__subTitle p {
    font-size: 15px;
    color: #001F51;
    text-align: center;
    font-weight: bold;
  }
  .brand__slogan__subTitle p span,
  .brand__slogan__title h1 span {
    color: #ED1479;
  }
  .video__frame video {
    width: 100%;
    height: 505px;
  }
  .video__frame__bottom{
    text-align: center;
  }
  .video__frame__bottom h2{
    font-size: 20px;
    color: #555455;
  }
  .video__frame__bottom{
    margin-top: 10px;
  }
  .video__frame__buttom--area{
    padding-top: 30px;
  }
  .video__frame__bottom h2{
    font-weight: bold;
    font-size: 20px;
  }
  .video__frame__bottom a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 26px;
    background-color: #ED1479;
    color: white;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    margin-top: 100px;
  }
</style>
{% style %}
  .header__btn {
    border-radius: {{ section.settings.header__btn }}px;
  }
  .brand__slogan {
    padding-top: {{ section.settings.brand__slogan__top }}px;
    padding-bottom: {{ section.settings.brand__slogan__bottom }}px;
  }
  .video__frame__bottom a{
    border-radius: {{ section.settings.brand__qualifies }}px; 
  }
{% endstyle %}
<section class="container">
  <div class="header">
    <div class="header__logo">
      {% if section.settings.logo != nil %}
        {{ section.settings.logo | image_url: width: 800 | image_tag }}
      {% else %}
        <h1>Oxedent</h1>
      {% endif %}
    </div>
    <div>
      <a class="header__btn" href={{ section.settings.header__button__link }}>{{ section.settings.header__button__text }}</a>
    </div>
  </div>
  <div class="brand__slogan">
    <div class="brand__slogan__subTitle">
      <p>Is your brand making over
        <span>$10K/MONTH</span>
        in revenue?</p>
    </div>
    <div class="brand__slogan__title">
      <h1 class="common__title">Here’s the exact step-by-step framework we used to skyrocket this brand from
        <span>$18K/Mo to $139K/Mo in 7 months</span>
      </h1>
    </div>
  </div>
  <div class="video__frame">
    {% if section.settings.banner__video != nil %}
      {{ section.settings.banner__video | video_tag: autoplay: false, loop: false, muted: false, controls: true, image_size: '600x'
      }}
    {% endif %}
    <div class="video__frame__bottom">
        <h2>Looking to scale in the next 6-12 months?</h2>
        <div class="video__frame__buttom--area">
            <a href="#">See If Your Brand Qualifies</a>
        </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Oxedent",
    "settings": [
      {
        "type": "header",
        "content": "Header Section"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
      {
        "type": "text",
        "id": "header__button__text",
        "label": "Button",
        "default": "APPLY FOR A FREE AUDIT"
      },
      {
        "type": "url",
        "id": "header__button__link",
        "label": "button link"
      }, {
        "type": "range",
        "id": "header__btn",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "border radius",
        "default": 50
      }, {
        "type": "header",
        "content": "Banner Slogan"
      }, {
        "type": "range",
        "id": "brand__slogan__top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "top padding",
        "default": 90
      }, {
        "type": "range",
        "id": "brand__slogan__bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "bottom padding",
        "default": 25
      }, {
        "type": "header",
        "content": "Upload Your Video"
      }, {
        "type": "video",
        "id": "banner__video",
        "label": "video frame"
      }, {
        "type": "range",
        "id": "brand__qualifies",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "button border radius",
        "default": 20
      }

    ],
    "blocks": [
        {
            "name": "brand__logo",
            "type": "brand__logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "brand__logo",
                    "label": "Brand Logo"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "oxedent",
        "blocks": [{
            "type": "brand__logo"
        }]
      }
    ]
  }
{% endschema %}