<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* common section */
  .common__title {
    font-size: 30px;
    font-weight: bold;
    color: #001F51;
    text-align: center;
  }
  /* end common section */
  .container {
    max-width: 900px;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
  }
  .header__logo img {
    width: 140px;
    height: 42px;
  }
  .header__btn {
    padding: 10px 20px;
    background-color: #ED1479;
    outline: none;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  .header__btn:hover {
    background-color: #001F51;
  }
  .brand__slogan__subTitle p {
    font-size: 18px;
    color: #001F51;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }
  .brand__slogan__title h1{
    text-align: center;
    font-weight: bold;
  }
  .brand__slogan__subTitle p span,
  .brand__slogan__title h1 span {
    color: #ED1479;
  }
  .video__frame video {
    width: 100%;
    height: 505px;
  }
  .video__frame__bottom {
    text-align: center;
  }
  .video__frame__bottom h2 {
    font-size: 20px;
    color: #555455;
  }
  .video__frame__bottom {
    margin-top: 10px;
  }
  .video__frame__buttom--area {
    padding-top: 30px;
  }
  .video__frame__bottom h2 {
    font-weight: bold;
    font-size: 20px;
  }
  .video__frame__bottom a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 26px;
    background-color: #ED1479;
    color: white;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    margin-top: 100px;
    transition: 0.5s;
  }
  .video__frame__bottom a:hover {
    background-color: #001F51;
  }
  @media (max-width: 1200px) {
    .container {
      max-width: 900px;
    }
  }

  @media (max-width: 1024px) {
    .container {
      max-width: 740px !important;
    }
    .cards__area {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .card {
      max-width: 100% !important;
    }
    .gellery__item__area {
      grid-template-columns: repeat(1, 1fr) !important;
    }
    .grid-container {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    .metrics-area{
    grid-template-columns: repeat(2, 1fr) !important;
    background-color: red !important;
  }
  } 

  @media (max-width: 768px) {
    .container {
      max-width: 500px !important;
    }
    .header__btn {
      display: none !important;
    }
    .header {
      justify-content: center !important;
    }
    .header__logo {}
  .video__frame video {
    height: auto !important;
  }
  .brand__slogan {
    padding-top: 30px !important;
  }
  .cards__area {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .card {
    max-width: 100% !important;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .result__card__area {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .result__card__area img {
    max-width: 100% !important;
  }
  .result__section__video--area {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .cards__title h1,
  .video__frame__bottom h2 {
    padding: 0 10px !important;
  }
  .gellery__title,
  .ad__page__title,
  .grid__ad__page__title,
  .result__page__title,
  .result__section__title {
    font-size: 25px !important;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90% !important;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
</style>
{% style %}
  .header__btn {
    border-radius: {{ section.settings.header__btn }}px;
  }
  .brand__slogan {
    padding-top: {{ section.settings.brand__slogan__top }}px;
    padding-bottom: {{ section.settings.brand__slogan__bottom }}px;
  }
  .video__frame__bottom a {
    border-radius: {{ section.settings.brand__qualifies }}px;
  }
{% endstyle %}
<section class="container">
  <div class="header">
    <div class="header__logo">
      {% if section.settings.logo != nil %}
        {{ section.settings.logo | image_url: width: 800 | image_tag }}
      {% else %}
        <h1>Oxedent</h1>
      {% endif %}
    </div>
    <div>
      <a class="header__btn" href={{ section.settings.header__button__link }}>{{ section.settings.header__button__text }}</a>
    </div>
  </div>
  <div class="brand__slogan">
    <div class="brand__slogan__subTitle">
      {{ section.settings.slogan__subtitle--header }}
    </div>
    <div class="brand__slogan__title">
      {{ section.settings.slogan__title--header }}
      
    </div>
  </div>
  <div class="video__frame">
    {% if section.settings.banner__video != nil %}
      {{ section.settings.banner__video | video_tag: autoplay: false, loop: false, muted: false, controls: true, image_size: '600x'
      }}
    {% endif %}
    <div class="video__frame__bottom">
      <h2>{{ section.settings.bottom__title }}</h2>
      <div class="video__frame__buttom--area">
        <a href={{ section.settings.bottom__button__link }}>{{ section.settings.bottom__button }}</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Oxedent",
    "settings": [
      {
        "type": "header",
        "content": "Header Section"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
      {
        "type": "text",
        "id": "header__button__text",
        "label": "Button",
        "default": "APPLY FOR A FREE AUDIT"
      },
      {
        "type": "html",
        "id": "slogan__subtitle--header",
        "label": "Slogan Sub Title"
      },
      {
        "type": "html",
        "id": "slogan__title--header",
        "label": "Slogan Title"
      }, {
        "type": "text",
        "id": "bottom__title",
        "label": "Bottom Title",
        "default": "Bottom Title"
      }, {
        "type": "text",
        "id": "bottom__button",
        "label": "Bottom Button",
        "default": "Bottom Button"
      }, {
        "type": "url",
        "id": "bottom__button__link",
        "label": "Bottom Button Link"
      }, {
        "type": "url",
        "id": "header__button__link",
        "label": "button link"
      }, {
        "type": "range",
        "id": "header__btn",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "border radius",
        "default": 50
      }, {
        "type": "header",
        "content": "Banner Slogan"
      }, {
        "type": "range",
        "id": "brand__slogan__top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "top padding",
        "default": 90
      }, {
        "type": "range",
        "id": "brand__slogan__bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "bottom padding",
        "default": 25
      }, {
        "type": "header",
        "content": "Upload Your Video"
      }, {
        "type": "video",
        "id": "banner__video",
        "label": "video frame"
      }, {
        "type": "range",
        "id": "brand__qualifies",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "button border radius",
        "default": 20
      }

    ],
    "blocks": [
      {
        "name": "brand__logo",
        "type": "brand__logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand__logo",
            "label": "Brand Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "oxedent",
        "blocks": [
          {
            "type": "brand__logo"
          }
        ]
      }
    ]
  }
{% endschema %}